body {
  font-family: sans-serif;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

.projects {
  background: grey;
}

.projects__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: black;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 2em;
}
