// ================
// Prefered Default styles

::selection {
  background: black;
  color     : white;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
video {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// ================
// LESS Mixins

.debug {
  border: solid 1px red;
}

.text-h2 {
  font-size : 1.2em;
  text-align: center;
  margin-top: 4em;
}

// ================
// Animotor styles

#app {
  font      : normal 1rem/normal "GTAmerica", Helvetica, Arial, sans-serif;
  width     : 100vw;
  min-height: 100vh;
}

#nav {
  position       : fixed;
  top            : 0;
  z-index        : 10;
  display        : flex;
  justify-content: space-between;
  width          : 100%;

  a {
    display        : block;
    text-decoration: none;
    color          : black;
    padding        : .5em 1em;
  }
}

.projects-container {
  height         : 100vh;
  display        : flex;
  justify-content: center;
  align-items    : flex-start;
  overflow       : hidden;
  .debug;
}

.projects {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  background     : blue;
}

.projects__project {
  box-sizing: content-box;
  position  : relative;
  width     : 200px;
  height    : 200px;
  padding   : 3px 0;

  img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
  }

  div {
    position   : absolute;
    top        : 0;
    font-size  : 3em;
    line-height: 1em;
    color      : white;
  }
}

.about {
  padding: 0 30px;

  p:first-of-type {
    text-align: center;
  }

  h1 {
    .text-h2;
  }

  a {
    color: black;

    &:hover {
      text-decoration: underline !important;
    }
  }
}